.postPage {
  display: grid;
  font-family: "Roboto Slab", serif;
  grid-gap: 10px;
  grid-template-areas:
    "pt img"
    "pt img"
    "sc sc";
}

@media only screen and (max-width: 600px) {
  .postPage {
    align-items: center;
    display: grid;
    font-family: "Roboto Slab", serif;
    grid-gap: 10px;
    grid-template-areas:
      "pt"
      "img";
  }
}

.subHeading {
  font-size: small;
  height: 95%;
}

.postBody {
  align-items: flex-start;
  border-radius: 8px;
  display: grid;
  grid-area: pt;
  grid-template-areas:
    "tlt tlt"
    "ab pst";
  margin: 10px;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .postBody {
    align-items: flex-start;
    border-radius: 8px;
    display: grid;
    grid-area: pt;
    grid-template-areas:
      "tlt"
      "ab"
      "pst";
    margin: 10px;
    padding: 15px;
  }
}

.postHeading {
  grid-area: tlt;
}

.authorInfo {
  display: inline-block;
  grid-area: ab;
}

.fig {
  margin: 0px;
  text-align: center;
  width: 150px;
}

.avatar {
  background-image: url("../images/family.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
}

.post {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: pst;
  height: 100%;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.socialShare {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.iconLinks {
  margin: 4px;
}

.postImageContainer {
  display: flex;
  grid-area: img;
  height: 100%;
  justify-content: center;
  width: 200px;
}

.captionText {
  text-align: center;
}

.postImage {
  align-items: center;
  background-image: url("../images/pexels-nataliya-vaitkevich-4641833.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: im;
  height: 200px;
  min-width: 150px;
}
